In [2]:
import pandas as pd

df = pd.read_excel("student_depression_dataset.xlsx")

#Reset index dan tambahkan 1 untuk membuat index dimulai dari 1
df = df.reset_index(drop=True)
df.index = df.index + 1

#Tampilkan beberapa baris pertama DataFrame untuk memastikan data berhasil dimuat
display(df.head())

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
1,2,Male,33,Visakhapatnam,Student,5,0,8.97,2,0,5-6 hours',Healthy,B.Pharm,Yes,3,1,No,1
2,8,Female,24,Bangalore,Student,2,0,5.90,5,0,5-6 hours',Moderate,BSc,No,3,2,Yes,0
3,26,Male,31,Srinagar,Student,3,0,7.03,5,0,Less than 5 hours',Healthy,BA,No,9,1,Yes,0
4,30,Female,28,Varanasi,Student,3,0,5.59,2,0,7-8 hours',Moderate,BCA,Yes,4,5,Yes,1
5,32,Female,25,Jaipur,Student,4,0,8.13,3,0,5-6 hours',Moderate,M.Tech,Yes,1,1,No,0

In [3]:
#Mengecek ukuran dataset (jumlah baris dan kolom)
print("Ukuran Dataset (baris, kolom) : ", df.shape)

#Mengecek jumlah total elemen dalam dataset
print("Jumlah total elemen dalam dataset : ", df.size)

Ukuran Dataset (baris, kolom) :  (27901, 18)
Jumlah total elemen dalam dataset :  502218

In [4]:
#Mengecek tipe data dari sebuah variabel
my_variable = "Hello"
print("Tipe data my_variable: ", type(my_variable))

my_number = 123
print("Tipe data my_number: ", type(my_number))

#Mengecek tipe data dari setiap kolom dalam DataFrame
print("\nTipe data dari setiap kolom dalam DataFrame:")
print(df.dtypes)

Tipe data my_variable:  <class 'str'>
Tipe data my_number:  <class 'int'>

Tipe data dari setiap kolom dalam DataFrame:
id                                         int64
Gender                                    object
Age                                        int64
City                                      object
Profession                                object
Academic Pressure                          int64
Work Pressure                              int64
CGPA                                     float64
Study Satisfaction                         int64
Job Satisfaction                           int64
Sleep Duration                            object
Dietary Habits                            object
Degree                                    object
Have you ever had suicidal thoughts ?     object
Work/Study Hours                           int64
Financial Stress                          object
Family History of Mental Illness          object
Depression                                 int64
dtype: object

In [5]:
missing_values = df.isnull().sum()
print("Jumlah nilai yang hilang di setiap kolom: ")
print(missing_values)

Jumlah nilai yang hilang di setiap kolom:
id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [6]:
#Hitung jumlah baris duplikat
duplicate_rows_count = df.duplicated().sum()

#Cetak jumlah baris duplikat
print(f"Jumlah baris duplikat: {duplicate_rows_count}")

#Jika ada baris duplikat, tampilkan beberapa baris duplikat pertama
if duplicate_rows_count > 0:
    print("\nBeberapa baris duplikat pertama:")
    print(df[df.duplicated(keep=False)].head())

Jumlah baris duplikat: 0